*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border: 1px solid black;

  & .logo-container {
  }

  & .nav-items ul {
    display: flex;

    & li {
      list-style-type: none;
      margin-right: 50px;
    }
  }
}

.body {
  & .search {
  }

  & .filter {
    & .filter-btn {
      margin-top: 30px;
      margin-left: 40px;
    }
  }

  & .restaurant-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

    & .restaurant-card {
      height: 100%;
      width: 300px;
      margin: 10px;

      & .restaurant-image {
        height: 200px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
      }

      & .details {
        padding: 10px;

        & h4 {
          margin-top: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.buttons {
  cursor: pointer;
  background-color: whitesmoke;
  border: 0.5px solid gray;
  border-radius: 15px;
  padding: 15px;
}
