.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 65px;
}

.shimmer {
  background: linear-gradient(to right, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmerAnimation 1.5s infinite linear;
  border-radius: 20px;
  height: 200px;
  width: 23%;
  margin: 10px;
  margin-bottom: 100px;

  & .shimmer-line {
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
    float: left;
  }
}

@keyframes shimmerAnimation {
  to {
    background-position: -200% 0;
  }
}
